@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="jumbotron">
        <h1 color="blue" class="display-4">Hello, Admin!</h1>
        <p class="lead">You can perform operations on patients and view entry and show log records.</p>
        <hr class="my-4">
        <p>Choose an operation.</p>
        <p class="lead">
            <a class="btn btn-info btn-lg" href="/Admin/Add" role="button">Add Patient</a>
            <a class="btn btn-dark btn-lg" href="/Admin/Delete" role="button">Delete Patient</a>
            <a class="btn btn-success btn-lg" href="/Admin/Log" role="button">Show Logs</a>
            <a class="btn btn-danger btn-lg" href="/Admin/ShowData" role="button">Show Data</a>
            
        </p>
    </div>


}
